.primerItem {
  border-radius: 0 !important;
  margin-top: 0 !important;
  padding-top: 0 !important;
  font-weight: 400;
}

.primerItem :global(.accordion-button) {
  border-top-left-radius: 0 !important;
  border-top-right-radius: 0 !important;
  margin-top: 0 !important;
  padding-top: 0.6rem;
  padding-bottom: 0.6rem;
}

/* Elimina el fondo celeste y el borde azul cuando el item está abierto */
:global(.accordion-button:not(.collapsed)) {
  /*background-color: transparent !important;*/
  color: inherit !important;
  box-shadow: none !important;
  border: none !important;
  outline: none !important;
  background-color:#f8f8f9 !important;
  font-weight: 400;
  padding-top: 0.6rem;
  padding-bottom: 0.6rem;
}

:global(.accordion-button) {
  /*background-color: transparent !important;*/
  color: inherit !important;
  border: none !important;
  outline: none !important;
  box-shadow: none !important;
  background-color: #f8f8f9;
  font-weight: 400;
  padding-top: 0.6rem;
  padding-bottom: 0.6rem;
}

