.header {
  background-color: white;
  padding: 1rem;
  margin: 0;
  display: flex;
  justify-content:center;
  align-items:center;
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
}

.logoImg {
  width: 70px;
  height: auto;
  object-fit: contain;
  padding-right: 2rem;
}

.titulo{
    color: #272626;
}