.home {
  padding-bottom: 2rem;
  background-color: #fff;
}

h4{
  background: #2c3e50;
  color: white !important;
}

/* Presentación */
.presentacion {
  padding: 2rem 1.5rem 0rem 1.5rem;
  font-size: 1.1rem;
  line-height: 1.7;
  color: #444;
  text-align: center;
  max-width: 800px;
  margin: 0 auto;
}

/*Seccion Informacion*/
.informacion {
  padding: 2rem 1.5rem;
  font-size: 1.1rem;
  line-height: 1.7;
  color: #444;
  text-align: center;
  margin: 0 auto;
}

.informacion h4 {
  padding-top: 0.3rem;
  padding-bottom: 0.3rem;
  max-width: 930px;
  margin: 0 auto; /* Esto lo centra horizontalmente */
  text-align: center; /* Esto centra el texto dentro del h2 */
  font-weight: lighter;
}

/* Sección Funciona */
.funciona {
  padding: 2rem 1.5rem;
  font-size: 1.1rem;
  line-height: 1.7;
  color: #444;
  text-align: center;
  max-width: 800px;
  margin: 0 auto;
}

.funciona h4 {
  padding-top: 0.3rem;
  padding-bottom: 0.3rem;
  max-width: 800px;
  margin: 0 auto; /* Esto lo centra horizontalmente */
  text-align: center; /* Esto centra el texto dentro del h2 */
  font-weight: lighter;
}
