.navbar {
  width: 100%;
  /*background: #2c3e50; */
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1.2rem;
  transition: all 0.3s ease;
  position: relative;
  z-index: 1000;
  border-bottom: 3px solid #007bff;
}

.fixed {
  position: fixed;
  top: 0;
  left: 0;
  /*background: #2c3e50; */
  background-color: white;
  animation: fadeInDown 0.3s ease forwards;
  padding: 1.2rem;
  border-bottom: 3px solid #007bff;
}

/* Saludo y botón arriba a la derecha */
.saludoContainer {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 0.1rem;
  gap: 1rem;
  font-size: 1rem;
  color: #272626;
  font-weight: 400;
  letter-spacing: 0.5px;
}

.saludo{
  background: none;
  padding-right: 2rem;
}

/* Botón estilo link */
.logout {
  background: none;
  border: none;
  color: #272626;
  cursor: pointer;
  text-decoration: none;
  padding: 0;
  display: flex;      
  align-items: center;        
  justify-content: center;
  width: auto;
  max-width: 150px;
  white-space: nowrap;
  margin-top: 0;
  text-transform: uppercase;
  letter-spacing: 0.5px;
}

@keyframes fadeInDown {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.links {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
  margin: 0;
  padding: 0;
}

.links li a {
  text-decoration: none;
  color:#272626;
  font-weight: 600;
  transition: color 0.3s ease;
  text-transform: uppercase;
  padding-right: 2rem;
  letter-spacing: 0.5px;
}

.links li a:hover, .logout:hover {
  color: #272626;
}

