.navbar {
  width: 100%;
  background: linear-gradient(to right, #5f2c82, #49a09d); 
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1.5rem;
  transition: all 0.3s ease;
  position: relative;
  z-index: 1000;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
}

.fixed {
  position: fixed;
  top: 0;
  left: 0;
  background: linear-gradient(to right, #5f2c82, #49a09d);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  animation: fadeInDown 0.3s ease forwards;
  padding: 1rem;
}

/* Saludo y botón arriba a la derecha */
.saludoContainer {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 1rem 1.5rem;
  gap: 1rem;
  font-size: 1rem;
  color: #ffffff;
  font-weight: 400;
  letter-spacing: 0.5px;
}

.saludo{
  background: none;
  padding-right: 2rem;
}

/* Botón estilo link */
.logout {
  background: none;
  border: none;
  color: #ffffff;
  cursor: pointer;
  text-decoration: none;
  padding: 0;
  display: flex;       /* mejor alineación vertical */
  align-items: center;        /* centra el contenido del botón */
  justify-content: center;
  width: auto;
  max-width: 150px;
  white-space: nowrap;
  margin-top: 0;
  text-transform: uppercase;
  letter-spacing: 0.5px;
}

@keyframes fadeInDown {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.links {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
  margin: 0;
  padding: 0;
}

.links li a {
  text-decoration: none;
  color: #ffffff;
  font-weight: 600;
  transition: color 0.3s ease;
  text-transform: uppercase;
  padding-right: 2rem;
  letter-spacing: 0.5px;
}

.links li a:hover, .logout:hover {
  color: white; /* tono lavanda claro */
}

