/* Contenedor general */
.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 70vh;
  background-color: #f9f9f9;
}

/* Saludo y botón arriba a la derecha */
.saludoContainer {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 1rem 1.5rem;
  gap: 1rem;
  font-size: 1rem;
  color: #2c2e2e;
  font-weight: 400;
}

/* Botón estilo link */
.logout {
  background: none;
  border: none;
  color: #555;
  cursor: pointer;
  text-decoration: none;
  padding: 0;
  display: flex;       /* mejor alineación vertical */
  align-items: center;        /* centra el contenido del botón */
  justify-content: center;
  width: auto;
  max-width: 150px;
  white-space: nowrap;
  margin-top: 0;
}



.logout:hover {
  color: #0c0c0c;
}

/* Sección de reclamos disponibles centrada */
.presentacion {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem 1rem;
  text-align: center;
}

